@import "tailwindcss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}

.nav-logo {
    width: 100px;
}

.nav-profile {
    width: 40px;
}

.nav-right {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.nav_button {
    background-color: #6b7280; 
    color: #ffffff;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    line-height: 1rem;
}

@media(max-width:800px) {
    .navbar {
        padding: 0px 50px;
    }
    .nav-logo{
        width: 80px;
    }
    .nav-profile {
        width: 30px;
    }
}